@model IndexViewModel<CharacterIndexItemViewModel>

@{
    ViewData["Title"] = "Characters";
}

<header>
    <a class="btn btn-primary btn-sm ms-2 float-end" asp-action="Create">Add Character</a>
    <h2>Characters</h2>
</header>

<table class="table">
    <thead>
        <tr>
            <th>Birthdate</th>
            <th>Emoji</th>
            <th>English name</th>
            <th>Korean name</th>
            <th>Instagram</th>
            <th>Website URL</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Items.Any()) {
            <tr><td colspan="6">No characters have been added yet.</td></tr>
        }
        else foreach (var item in Model.Items) {
        <tr>
            <td>
                <time datetime=@item.Birthdate></time>
            </td>
            <td>@item.Emoji</td>
            <td>@item.EnglishName</td>
            <td>@item.KoreanName</td>
            <td>
                @if (item.Instagram?.Length > 0) {
                    <a href="https://instagram.com/@item.Instagram" target="_blank">@@@item.Instagram</a>
                }
            </td>
            <td>
                <a href="@item.WebsiteUrl" target="_blank">@item.WebsiteUrl</a>
            </td>
            <td>@item.Description</td>
            <td>
                <a class="text-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
