@model ScheduleViewModel
@{
    ViewData["Title"] = "Schedule";
}

<h1>Schedule</h1>

<section>
    <form>
        <div class="d-flex mb-2">
            @foreach (var calendar in Model.Calendars)
            {
                <div class="form-check pr-3" style="color: @calendar.Color">
                    <input type="checkbox" class="form-check-input" id="@calendar.Name">
                    <label class="form-check-label" for="@calendar.Name">@calendar.Name</label>
                </div>
            }
        </div>
    </form>
</section>

<section class="mt-3">
    @{
        var headerText = Model.Matrix.MonthStart.ToString("MMM yyyy");
        //
    }

    <table class="table">
        <tr>
            <th colspan="7">
                <h3 class="text-center m-0">@headerText</h3>
            </th>
        </tr>
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
        @foreach (var week in Model.Matrix.Weeks)
        {
            <tr>
                @foreach (var day in week.Days)
                {
                    <td>
                        @foreach (var e in day.Events)
                        {
                            @e.Title
                        }
                    </td>
                }
            </tr>
        }
    </table>

</section>