@using Calendar
@using Calendar.Matrix
@using Calendar.Models

@model ScheduleViewModel

@{
    ViewData["Title"] = "Schedule";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/calendar.css">
}

<h1>Schedule</h1>

<section>
    <form>
        <div class="d-flex mb-2">
            @foreach (var calendar in Model.Calendars)
            {
                <div class="form-check pr-3" style="color: @calendar.Color">
                    <input type="checkbox" class="form-check-input" id="@calendar.Name">
                    <label class="form-check-label" for="@calendar.Name">@calendar.Name</label>
                </div>
            }
        </div>
    </form>
</section>

<section class="mt-3">

    <table class="calendar">

        @{
            var monthStart = Model.Matrix.MonthStart;
            var monthEnd = Model.Matrix.MonthEnd;
            var previousMonthStart = monthStart.AddMonths(-1);
            var nextMonthStart = monthStart.AddMonths(1);
        }

        <tr>
            <th class="title" colspan="7">
                <h2>
                    <a asp-controller="Schedule" asp-action="Index" asp-route-month="@previousMonthStart.ToString("yyyy-MM")"
                        class="month-nav previous"
                    >
                        <i class="fa-solid fa-circle-left"></i>
                    </a>
                    @monthStart.ToString("MMM yyyy")
                    <a asp-controller="Schedule" asp-action="Index" asp-route-month="@nextMonthStart.ToString("yyyy-MM")"
                        class="month-nav next"
                    >
                        <i class="fa-solid fa-circle-right"></i>
                    </a>
                </h2>
            </th>
        </tr>

        <tr class="days-header">
            @foreach (var day in Model.Matrix.Weeks[0].Days)
            {
                var name = TimeTools.NameOfDay(day.Date.DayOfWeek);
                <th class="day-name">
                    @name
                </th>
            }
        </tr>
        
        @foreach (var week in Model.Matrix.Weeks)
        {
            <tr class="week">
                @foreach (var day in week.Days)
                {
                    var isInMonth = monthStart <= day.Date && day.Date <= monthEnd;
                    <td class="@(isInMonth ? "day" : "day outside-month")">
                        <h6 class="day-number">@day.Date.Day</h6>
                        @{ RenderEvents(day.Events); }
                    </td>
                }
            </tr>
        }

    </table>
</section>

@{
    void RenderEvents(IEnumerable<EventInfo> eventInfos)
    {
        <div class="events-container">
            @foreach (var e in eventInfos)
            {
                RenderEvent(e);
            }
        </div>
    }

    void RenderEvent(EventInfo e)
    {
        var timeString = (e.Start.Minute == 0)
            ? e.Start.ToString("ht").ToLower()
            : e.Start.ToString("h:mmt").ToLower();
        if (e.IsAllDay)
            timeString = "";

        <a
            class="event"
            href="@e.EventUri"
            target="_blank"
            style="background: @e.Color"
        >
            <span class="time">@timeString</span>
            <h7>@e.Title</h7>
        </a>
    }
}
